/* --------- Only Visible in the Less File --------- */
/* -------------------- Mix-ins -------------------- */

/* ------------------- Variables ------------------- */

/*- Testing -*/
@testHeight: 200px;

/*-- Fonts --*/

@fontSizeGeneral: 16px;
@fontSizeMajorHeader: 36px;



/*-- Colors --*/

/*- Text -*/

@textColor1: #000000;

/*- Backgrounds -*/
@mainColor1: #66b3ff;
@mainColor2: lighten((@mainColor1), 5%);
@mainColor3: lighten((@mainColor2), 5%);
@mainColor4: lighten((@mainColor3), 5%);
/* ------------------- Body CSS ------------------- */

*{
  margin: 0;
}

html, body {
  margin: 0px;
}

p{
  padding: 0px 10px;
}

.if-img-pad{
  margin-top:10px;
  margin-bottom:10px;
}

.if-majorHeader{
  display:block;
  font-size: @fontSizeMajorHeader;
  text-align: center;
  border-bottom: 2px solid @textColor1;
  padding-top: 25px;
  margin-top:0px;
}
.if-layer0 {
  position: relative;
  z-index: 51;
}
.if-layer1 {
	position: relative;
	z-index: 50;
  color: @textColor1;
  background-color: @mainColor1;
  min-height:@testHeight;
}
.if-layer2 {
	position: relative;
	z-index: 49;
  color: @textColor1;
  background-color: @mainColor2;
  min-height:@testHeight;
}
.if-layer3 {
	position: relative;
	z-index: 48;
  color: @textColor1;
  background-color: @mainColor3;
  min-height:@testHeight;
}
.if-layer4 {
	position: relative;
	z-index: 47;
  color: @textColor1;
  background-color: @mainColor4;
  min-height:@testHeight;
}
.skillBox{
  margin-top: 20px;
  margin-bottom: 20px;
}