/* --------- Only Visible in the Less File --------- */
/* -------------------- Mix-ins -------------------- */
/* ------------------- Variables ------------------- */
/* ------------------- Navbar CSS ------------------- */
.navbar-default {
  background-color: #929597;
  background-image: none;
  border-color: #2a3035;
}
.navbar-default .navbar-collapse {
  border-color: #2a3035;
}
.navbar-default .navbar-toggle {
  border-color: #2a3035;
  background-color: #e6e6e6;
}
.navbar-default .navbar-toggle:hover {
  background-color: #929597;
}
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #e6e6e6;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
  color: #e6e6e6;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar .navbar-collapse {
  text-align: center;
}
.if-navbar {
  position: fixxed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.if-navbar .navbar-brand {
  color: #e6e6e6;
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .if-navbar {
    background: #262626;
    border-bottom: 1px solid transparent;
  }
  .if-navbar .navbar-brand {
    color: white;
    padding: 20px;
  }
  .if-navbar .nav li a {
    color: white;
    padding: 20px;
  }
  .if-navbar .navbar-brand:hover,
  .if-navbar .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .if-navbar .nav li a:hover,
  .if-navbar .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1170px) {
  .if-navbar {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
