/* --------- Only Visible in the Less File --------- */
/* -------------------- Mix-ins -------------------- */
/* ------------------- Variables ------------------- */
/* ------------------- Shadow CSS ------------------- */
.if-shadow-bt {
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.5);
}
.if-shadow-top {
  box-shadow: 0px -3px 6px 0 rgba(0, 0, 0, 0.5);
}
.if-shadow-all {
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.5);
}
/* - Inset Shadow- */
.if-shadow-in-top {
  box-shadow: inset 0px 3px 6px 0 rgba(0, 0, 0, 0.5);
}
.if-shadow-in-bt {
  box-shadow: inset 0px -3px 6px 0 rgba(0, 0, 0, 0.5);
}
.if-shadow-in-all {
  box-shadow: inset 0px 0px 7px 4px rgba(0, 0, 0, 0.5);
}
